@import url("reset.css");

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
    font-size: 80%;
    color: #494949;
    background: #3d3d3d url('../images/dither.png') repeat right top;
}

#header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 110px;
    background: #3d3d3d url('../images/dither.png') repeat right top;
    z-index: 10;
}

#header h1 { 
    margin: 20px 50px;
}

#header #tabs {
    position: fixed;
    height: 26px;
    width: 100%;
    top: 84px;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: bold;
}

#header #tabs div {
    height: 26px;
    width: 217px;
    line-height: 26px;
    padding-left: 10px;
    background: transparent url('../images/tab.png') no-repeat left top;
}

#header #tabs #details {
    position: absolute;
    left: 10px;
}

#header #tabs #diagram {
    position: absolute;
    left: 33%;
}

#header #dl {
    position: fixed;
    top: 29px;
    right: 20px;
    height: 42px;
}

#header #dl a {
    color: #fff;
    text-decoration: none;
    display: block;
    height: 42px;
    line-height: 42px;
    padding: 0 10px 0px 38px;
    margin: 0 5px;
    float: right;
    background-repeat: no-repeat;
    background-position: left 50%;
}

#header #dl a:hover {
    background-color: #333333;
}


/* ----[ Download Modal ]---- */

#download {display:none;}

#download a {
    color: #fff;
    text-decoration: none;
    display: block;
    height: 42px;
    line-height: 42px;
    width: 330px;
    padding: 10px 0px 10px 60px;
    float: right;
    background-repeat: no-repeat;
    background-position: 5px 50%;
    border-bottom: 1px solid #444;
}

#download a:hover {
    background-color: #111;
}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {height:360px; width:400px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}


/* ----[ Argument Text ]---- */

#argtext {
    width: 30%;
    margin-top: 110px;
    z-index: 5;
}

#argtext .odd {
    background-color: #e9e9e9;
}

#argtext .even {
    background-color: #f2f2f2;
}

#argtext div {
    border-bottom: 1px solid #bbbbbb;
    padding: 10px 20px;
}

#argtext .active {
    background-color: #cfe0ec;
}

#argtext p.text {
    margin: 6px 0 6px 0;
}

#argtext h4 .nodeID {
    font-weight: normal;
    font-style:italic;
    font-size: 1.2em;
}

#argtext span.support, #argtext span.attack {
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
}

#argtext span.support {
    color: #009917;
}

#argtext span.attack {
    color: #a00;
}


/* ----[ Visualisation ]---- */

#vis {
    position: fixed;
    right: 2%;
    top: 110px;
    width: 66%;
}

#map {
    width:100%;
    border-left:1px solid #666;
    border-right:1px solid #666;
    overflow:hidden;
    background:#ffffff url('../images/loading.gif') no-repeat 50% 50%;
}

#map div { 
}

#map img { border:0; position: relative; }

#wmap {
    height: 100%;
    width: 100%;
}
