*{ padding: 0; margin: 0; }
body{ background: #fff; text-align: center; font: 0.8em Arial, sans-serif; padding: 0 0 30px 0; }
h1{ font-size: 2.2em; }
h2{ font-size: 2.0em; }
h3{ font-size: 1.6em; }
h4{ font-size: 1.4em; }
p{ font-size: 1.1em; }

body{ border-top: 5px solid #a00; }

#header { margin: 20px 0; color: #444; text-align: left; height: 65px; padding: 10px; border-bottom: 1px solid #e5e5e5;}

div#topmenu a {
    display: block;
    float: right;
    color: #666;
    text-decoration: none;
    line-height: 46px;
    margin-right: 46px;
    background-repeat: no-repeat;
}

div#topmenu a#uploadlink {
    background-image: url('../images/icon-upload.png');
    background-position: 0% 50%;
    padding-left: 19px;
}

div#topmenu a#corporalink {
    background-image: url('../images/icon-corpora.png');
    background-position: 0% 50%;
    padding-left: 20px;
}

div#topmenu a:hover {
    color: #444;
    text-decoration: underline;
}

#header h1 { float: left; }
div#b-box { float: left; margin-left: 30px; }

#ccol { width: 700px; margin: 0 auto; }

#submitinput { font-size: 23px; padding: 3px 10px; border: 1px solid #006c00; color: #fff; background-color: #009917; margin-left: 20px;}
.searchinput { font-size: 24px; width: 500px; padding: 3px; border: 1px solid #e5e5e5; background: #fbfbfb; }

select.searchselect{
    padding: 4px;
    margin: 1px 0px 6px 0px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    font-size: 23px;
    width: 500px;
}

div#rcount { color: #888; text-align: left; width: 100%; margin-bottom: 8px; }

a.arg { font-size: 18px; text-decoration: none; color: #083; }
a.arg:hover { color: #0a2; }

a { color: #083; text-decoration: none; }
a.stext { color: #666; }
a.stext strong { color: #083; }

div.arg {text-align: left; border-bottom: 1px solid #e5e5e5; padding: 2px 44px; position: relative; }
div.arg:hover { background-color: #f3f3f3; }
div.arg span.content { color: #999; clear: left; display: block; padding: 18px 0px 18px 0px; }

a.showns { color: #aaa; position: absolute; bottom: 4px; right: 26px; font-size: 85%; }
a.showns:hover { color: #083; }
div.nslist { margin-top: -18px; margin-bottom: 10px;}
div.nslink { text-align: left; padding-left: 20px; }
span.nsarrow { color: #888; }

div#pager { clear: both; margin: 35px 0px 50px 0px; }
a.apager { padding: 3px 8px; margin: 0px 2px; color: #888; border: 1px solid #e5e5e5; }
a.apager:hover { background-color: #eeeeee; color: #333; }
a.spager { font-weight: bold; color: #083; }
a.spager:hover { background-color: transparent; color: #083; }

div.nodeset {
    text-align: left;
    clear: both;
    margin-top: 36px;
}

div.nodeset h3 {
    color: #083;
    margin: 0px 0px 5px 0px;
    padding: 0px;
    font-size: 16px;
}

div.nodeset p.text {
    font-size: 13px;
    color: #666;
}

div.nodeset p.dl {
    font-size: 13px;
}

div.nodeset p.fulltext {
    display: none;
}

a.nodesetimglink {
    float: right;
    height: 160px;
    width: 240px;
    padding: 7px;
    margin-left: 30px;
    border: 1px solid #ccc;
}

a.nodesetimglink:hover {
    border: 1px solid #aaa;
    background-color: #ddd;
}

div.nodesetimg {
    height: 100%;
    width: 100%;
    -webkit-background-size:240px 160px;
    -moz-background-size:240px 160px;
    -o-background-size:240px 160px;
    background-size:240px 160px;
    background-repeat:no-repeat;
}

/* === misc === */

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}
